#content{
    padding: 50px;
    background-color: #eee;
}
.letter{
    padding: 10px;
    margin: 10px;
    color: #333;
    background:#ffde00;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
    display: inline-block;
}